<!--<div>
<table class="table tbl-striped">
  <tr *ngFor="let job of Jobs">
    <td>{{job.Title}}</td>
    <td>{{job.Description}}</td>
    <td>{{job.Location}}</td>
    <td><a [routerLink]="['jobDetails']">Details</a></td>
    &lt;!&ndash;<td>&ndash;&gt;
      &lt;!&ndash;<button class="btn btn-primaty" (click)="loadChildren()">Details Open</button>&ndash;&gt;
    &lt;!&ndash;</td>&ndash;&gt;
  </tr>
</table>
</div>
<router-outlet></router-outlet>-->

<div>
  <form>
    <div class="jumbotron">
      <!--[formGroup]="rFrom" (ngSubmit)="addPost(rFrom.value)"-->  <!--formControlName="lastName"-->
      <ul class="form-style-1">  <!--formControlName="firstName"-->
        <div class="panel">
          <label>CURRENT EMPLOYEE DETAILS </label>
        </div>
        <li><label>Full Name  </label>
          <input type="text" class="field-divided"
                 placeholder="First"
                 [(ngModel)]="UserDetails.FirstName" name="FirstName"/>&nbsp;<input
            type="text" name="LastName" class="field-divided" placeholder="Last" name="LastName"
            [(ngModel)]="UserDetails.LastName"/>
        </li>
        <li>
          <label>Employee Id </label>
          <input type="text" name="EmpId" [(ngModel)]="UserDetails.EmpId" class="field-long"/>
        </li>
        <li>
          <label>Email  </label>
          <input type="email" name="EmailId" [(ngModel)]="UserDetails.EmailId" class="field-long"/>
        </li>
        <li>
          <label>Phone Number  </label>
          <input type="text" name="ContactNum" [(ngModel)]="UserDetails.ContactNum" class="field-long"/>
        </li>
        <li>
          <label>Department  </label>
          <input type="text" name="DepartName" [(ngModel)]="UserDetails.DepartName" class="field-long"/>
        </li>
        <li>
          <label>Current Address  </label>
          <textarea name="field7" id="CurrentAdd" [(ngModel)]="UserDetails.CurrentAdd"
                    class="field-long field-textarea"></textarea>
        </li>
        <li>
          <!-- [disabled]="!rForm.valid"-->
          <button type="submit" class="btn btn-default" id="submitbtn1" name="submit" value="Submit"
                  (click)="registerUser()">Register
          </button>
          <input type="reset" class="btn btn-default" id="submitbtn2" name="clear" value="Clear">
        </li>
      </ul>

    </div>
  </form>
</div>
<!--{{UserDetails|json}}-->
