
.form-style-1 {
  margin:10px auto;
  max-width: 400px;
  padding: 20px 12px 10px 20px;
  font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.form-style-1 li {
  padding: 0;
  display: block;
  list-style: none;
  margin: 10px 0 0 0;
}
.form-style-1 label{
  margin:0 0 3px 0;
  padding:0px;
  display:block;
  font-weight: bold;
}
.form-style-1 input[type=text],
.form-style-1 input[type=date],
.form-style-1 input[type=datetime],
.form-style-1 input[type=number],
.form-style-1 input[type=search],
.form-style-1 input[type=time],
.form-style-1 input[type=url],
.form-style-1 input[type=email],
textarea,
select{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border:1px solid #BEBEBE;
  padding: 7px;
  margin:0px;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
}
.form-style-1 input[type=text]:focus,
.form-style-1 input[type=date]:focus,
.form-style-1 input[type=datetime]:focus,
.form-style-1 input[type=number]:focus,
.form-style-1 input[type=search]:focus,
.form-style-1 input[type=time]:focus,
.form-style-1 input[type=url]:focus,
.form-style-1 input[type=email]:focus,
.form-style-1 textarea:focus,
.form-style-1 select:focus{
  -moz-box-shadow: 0 0 8px #88D5E9;
  -webkit-box-shadow: 0 0 8px #88D5E9;
  box-shadow: 0 0 8px #88D5E9;
  border: 1px solid #88D5E9;
}
.form-style-1 .field-divided{
  width: 49%;
}

.form-style-1 .field-long{
  width: 100%;
}
.form-style-1 .field-select{
  width: 100%;
}
.form-style-1 .field-textarea{
  height: 70px;
}
/*.form-style-1 input[type=submit], .form-style-1 input[type=button]{
  background: #4B99AD;
  padding: 8px 15px 8px 15px;
  border: none;
  color: #fff;
}
.form-style-1 input[type=submit]:hover, .form-style-1 input[type=button]:hover{
  background: #4691A4;
  box-shadow:none;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
}*/
.form-style-1 .required{
  color:red;
}
.panel:hover{
  color: deeppink;
}
.panel{
  padding-top: 5px;
  background-color: lightcyan;
  text-align:justify;
  padding-left: 55px;
}
.form-style-1{
  padding-top: 10px;
  margin-top: -30px;
  margin-bottom: -35px;
}
.jumbotron{
  margin-left:10px;
  margin-right: 00px;
  background-color: white;
  box-shadow:2px 2px 2px 3px lightblue;
  margin-top: 0px;
  border-radius: 15px;
}
.btn{
  color: black;
}
.btn:hover{
  color: white;
  background-color: #88D5E9;
}
.jumbotron2{
  background-color: white;
  box-shadow:2px 2px 2px 3px lightblue;
  margin-top: 30px;
  border-radius: 15px;
}
.jumbotron3{
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 15px;
  box-shadow:1px 1px 2px 2px #88D5E9;
}
.panel-title{
  border-radius: 15px;
  padding-left: 40%;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: -4px;

}






/*
    Note: It is best to use a less version of this file ( see http://css2less.cc
    For the media queries use @screen-sm-min instead of 768px.
    For .omb_spanOr use @body-bg instead of white.
*/

@media (min-width: 1268px) {
  .omb_row-sm-offset-3 div:first-child[class*="col-"] {
    margin-left: 5%;
  }
}

.omb_login .omb_authTitle {
  text-align: center;
  line-height: 300%;
}
/*
.omb_login .omb_socialButtons a {
  color: white; // In yourUse @body-bg
opacity:0.9;
}
.omb_login .omb_socialButtons a:hover {
  color: white;
  opacity:1;
}*/

.omb_login .omb_loginOr {
  position: relative;
  font-size: 1.5em;
  color: #aaa;
  margin-top: 1em;
  margin-bottom: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.omb_login .omb_loginOr .omb_hrOr {
  background-color: #cdcdcd;
  height: 1px;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
.omb_login .omb_loginOr .omb_spanOr {
  display: block;
  position: absolute;
  left: 50%;
  top: -0.6em;
  margin-left: -1.5em;
  background-color: white;
  width: 3em;
  text-align: center;
}

.omb_login .omb_loginForm .input-group.i {
  width: 2em;
}
.omb_login .omb_loginForm  .help-block {
  color: red;
}


@media (min-width: 168px) {
  .omb_login .omb_forgotPwd {
    text-align: right;
    margin-top:10px;
  }
}
